*{
    margin: 0px;
    padding: 0px;
    position: ;
}
a{
    text-decoration: none;
    color: white
}
nav{
    display: inline-block;
    /* border: 2px solid; */
    
    margin-left: 100px;   
    font-size: 24px;
}
header{
    background-color: black;
     position: sticky;  
    top: 0;
    scroll-behavior: smooth;
}
.main{
    top: 0px;
    text-align: justify;
    padding: 10px;
    padding-bottom: 0px;
    margin: 0;
    margin-top: 0px;   
   
} 
h1{
    position:sticky;
    top: 0px;
}
.brand{
position: sticky;
padding:10px ;
text-align: justify;
padding-bottom: 0px;
}
 i{
    font-size: 24px;
    color: red;
} 
.about{
    padding: 10px;
    text-align: justify;
}
.contact{
    text-align: justify;
    padding: 10px;
}
